/* COLOR PALETTE
	Primary - Yellow	Accent - Light Blue 	Other (alpha values of #000)
	100 #FFFDE7									Dividers 		12%
	500 #FFEB3B			A200 #40C4FF			Disabled text 	26%
	700 #FBC02D			A400 #00B0FF			Secondary text 	54%
												Main text 		87%
*/


/*General*/
body {
	font-family: 'Roboto', "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: rgba(0,0,0,0.87);
	background: rgba(0,0,0,0.06);
	margin: 0;
	min-width: 320px;
}
.cropped{max-width: 800px;}
.croppedcropped{max-width: 400px;}
.left{float:left;}
.right{float: right;}

.button_raised, .button_light{
	display: inline-block;
	min-width: 88px;
	margin: 4px;
	padding: 8px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	border: none;
	outline: none;
}
.button_light:hover{background: rgba(153,153,153,0.2);}
.button_light:active{background: rgba(153,153,153,0.4);}
.button_raised{
	background: #40C4FF;
	border-radius: 2px;
	color: #FFF;
	box-shadow: 0 2px 5px hsla(0,0%,0%,.26);
}
.button_raised:active{
	background: rgba(0,176,255,1);
	box-shadow: 0 5px 10px hsla(0,0%,0%,.3);
}
.button_raised.disabled{
	background: rgba(153,153,153,0.12);
	color: rgba(153,153,153,0.26);
	box-shadow: none;
	cursor: default;
}
.button_raised.disabled:active{
	background: rgba(153,153,153,0.12);
	box-shadow: none;
}
.button_icon{
	cursor: pointer;
	height: 40px;
	margin-right: 15px;
}
.button_icon img{
	width: inherit;
	height: inherit;
}

.link{cursor: pointer;}
li.link:hover{
	text-shadow: 0 2px 5px hsla(0,0%,0%,.26);
}




/* Header And Footer */
header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 64px;
	z-index: 1;
	text-align: center;
	background: #FFEB3B;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
header h1{
	display: inline;
	margin: 10px;
	font-size: 32px;
	font-weight: 400;
	line-height: 64px;
}

#logzone{
	position: absolute;
	top: 12px;
	right: 12px;
	height: 40px;
}

.menubutton{
	position: absolute;
	top: 12px;
	left: 16px;
	display: flex;
	display: -webkit-flex;
}

#menu{
	position: fixed;
	top: 0;
	left: -205px;
	bottom: 0;
	width: 200px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	z-index: 2;
}
#menu ul{
	position: absolute;
	top: 80px;
	left: -16px; /* depends if we put icon, could be nice ! if so +16px*/
	right: 0px;
	list-style-type: none;
	padding-left: 56px;
}
#menu ul li {
	line-height: 48px;
}
#menu hr{
	width: 95%;
	position: relative;
	left: -15px;
	border: 1px solid rgba(0,0,0,0.12);
	margin: 10px 0px;
}



/* Content*/
#content{
	margin: 80px auto 15px;
	background: #FFF;
	padding: 5px 20px;
	font-size: 15px;
	font-weight: normal;	
	box-shadow: 0 0 1px 0 hsla(0,0%,0%,.15);
}
#content h1{
	font-size: 45px;
	font-weight: 100;
	margin: 20px 0;
	text-align: center;
}
#content.map{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: 64px 0 0 0;
}


/* Forms */
form{
	margin-bottom: 24px;
	padding: 15px;
	box-shadow: 0 0 5px 0 hsla(0,0%,0%,.15);

}
form fieldset{
	border: 1px solid rgba(0,0,0,0.12);
	margin-bottom: 20px;
}
form fieldset p{
	text-align: justify;
	font-size: 13px;
}
form input{
	margin-left: 27%;
	width: 72%;
	padding: 8px 0 8px 0;
	position: relative;
	top: -32px;
	font-family: 'Roboto', "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 15px;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.12);
}
form input:focus{
	border-bottom: 3px solid #40C4FF;
	outline: none;
	padding-bottom: 6px;
}
form input.wrong{border-bottom: 3px solid #F44336;}
form input:focus.wrong{border-bottom: 3px solid #F44336;}
form label{
	line-height: 30px;
	color: rgba(0,0,0,0.54);
	font-size: 11px;
}
form input[type="submit"]{
	display:block;
	margin: 0 auto;
	width: 100px;
	top: 0;
}
form input[type='submit']{border-bottom: none;padding-bottom: 8px;}
form input[type="file"]{
	margin-left: 19%;
	width: 80%;
	border: none;
	font-size: 12px;
}
form input[type="file"]:focus{border:none;padding-bottom:8px;outline:inherit;}
form input.minimized{	
	margin-left: 12.5px;
	width: 19%;
	top:0;
}
form input.maximized{	
	margin-left: 20%;
	width: 79%;
}
form select.maximized {
	margin-left: 12.5px;
	font: normal 100 45px 'Roboto';
}
form .form_infobox,
form .form_errorbox{
	margin-left: 27%;
	margin-bottom: -29px;
	position: relative;
	top: -28px;
	font-size: 11px;
}
form .form_infobox{color: rgba(0,0,0,0.54);}
form .form_errorbox{color: #F44336;}
.errorbox {
	display: none;
	margin: 10px;
	text-align: center;
	background: #F44336;
	color: #FFFFFF;
	border-radius: 3px;
	padding: 5px;
}
#preview_img{
	display: none;
	margin: -10px auto 10px;
	box-shadow: 0 0 5px 0px hsla(0,0%,0%,.35);
}

progress {
	background-color: #fff;  
    -webkit-appearance: none;
	border: none;
    height: 18px;  
}

progress::-webkit-progress-bar {
	background: #ddd;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:#40C4FF;
}

.pictureCanvas{
	box-shadow: 0 0 15px 0px hsla(0,0%,0%,.1) inset;
	min-height: 268px;
	padding: 3px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: flex-start;
	-webkit-align-items: stretch;
}
#drop{
	background: #FFFDE7;	
	align-items: center;
}
.pictureCanvas.dragover{box-shadow: 0 0 15px 0px hsla(0,0%,0%,.5) inset;}
.pictureCanvas p{text-align: center;width: 100%;}
div#tip{
	text-align: center;
	margin:auto;
	width: 200px;
}
div#tip button{background: none;}
div#tip button:hover{background: rgba(153,153,153,0.2);}
div#tip button:active{background: rgba(153,153,153,0.4);}
.preview_drop{
	position: relative;
	background: #FFF;
	margin: 6px;
	box-shadow: 0 0 5px 0px rgba(0,0,0,.15);
	text-align: center;
}
.preview_drop p{
	padding: 2px 0;
	font-size: 0.8em;
	max-width: 250px;
	line-height: 30px;
}
.preview_drop p{
	margin-top: auto;
	margin-bottom: auto;
}
.preview_drop .button_raised{
	margin-top: 5px;
	margin-bottom: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.preview_drop .button_light{
	font-size: 0.8em;
	margin: 0; 
 	padding: 0 4px;
}
.preview_drop img{
	cursor: pointer;
}
.preview_drop .deleteCross,
.mapImg .deleteCross{
	position: absolute;
	top: 5px;
	right: 10px;
}
.preview_drop .deleteCross img,
.mapImg .deleteCross img{
	cursor: pointer;
	visibility: hidden;
	background: rgba(255,255,255,0.65);
}
.preview_drop:hover .deleteCross img,
.mapImg .deleteCross img{
	visibility: visible;
	opacity: 1;
}
.preview_drop .deleteCross:hover img,
.mapImg .deleteCross:hover img{
	background: rgba(255,255,255,0.90);
}
.preview_drop:hover img{opacity: 0.65;}


/* Dialogs */
#dialog_container{
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.25);
	z-index: 10;
}
#dialog{	
	position: relative;
	max-width: 640px;
	padding: 20px 20px 50px;
	margin: auto;
	z-index: 10;
	background: #FFF;
	box-shadow: 0 0 10px 2px hsla(0,0%,0%,.4);
}
#dialog h1{
	font-size: 45px;
	font-weight: 100;
	line-height: 80px;
	text-align: center;
	width: 100%
}
#dialog p{margin: 0;}
#dialog p p{
	margin: 5px 0;
	max-width: 400px;
	text-align: justify;
}
#dialog .button_light{
	position: absolute;
	right: 15px;
}
.flex{
	display: flex!important;
	display: -webkit-flex!important;
	opacity: 0;
}


/* News */
#content div.img_container img{
	max-width: 80%;
	margin: 5px;	
	box-shadow: 0 0 6px 1px hsla(0,0%,0%,.15);
}
#content div.img_container{text-align: center;}
.date{font-weight: 100; font-size: 250%;}


/* Map */
.mapImg img{
	max-width: 600px;
	max-height: 500px;
}
/*.mapImg {
	cursor: pointer;
}
.mapImg:hover img{opacity: 0.65;}
.mapImg:hover .openNewTab{display: inline;}*/
.mapImg .deleteCross{
	top: 30px;
	right: 30px;
}
.openNewTab{
	position: absolute;
	left:0;
	right: 0;
	display: none;
	font-size: 2.5em;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	line-height: 500px;
}


progress {
	background-color: #fff;  
    -webkit-appearance: none;
	border: none;
    height: 18px; 
    display:block;
    margin:auto;
}

progress::-webkit-progress-bar {
	background: #ddd;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:rgba(0,176,255,1);
}

@media screen and (max-device-width: 650px) {
	.mapImg img{
		max-width: 100%;
		max-height: 70%;
	}
}

@media screen and (max-device-width: 500px) {
	#content{
		margin: 0;
		padding: 69px 20px 5px 20px;
		height: 100%;
	}
	#dialog_container{
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.25);
	z-index: 10;
	}	
	.nopadding{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.preview_drop .deleteCross img{
		visibility: visible;
		background: #FFF;
		box-shadow: 0 0 5px 1px rgba(0,0,0,.25); 
	}

}

@media screen and (max-device-width: 400px) {
	#content h1, #dialog h1{font-size: 35px;}
	form{
		margin: 0;
		margin-top: 34px;
		margin-bottom: 34px;
		width: 90%;
	}

	form input{
		width: 90%;
		top: -5px;
		margin-left: 10px;
		margin-bottom: 15px;
	}
	form input[type="submit"]{
		margin: 15px 25%;
		width: 49%;
	}
	form .form_infobox,
	form .form_errorbox{
		margin-left: 10px;
		margin-bottom: -29px;
		top: -18px;
	}
}
