/* COLOR PALETTE
	Primary - Yellow	Accent - Light Blue 	Other (alpha values of #000)
	100 #FFFDE7									Dividers 		12%
	500 #FFEB3B			A200 #40C4FF			Disabled text 	26%
	700 #FBC02D			A400 #00B0FF			Secondary text 	54%
												Main text 		87%
*/


/*General*/
body {
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: rgba(0,0,0,0.87);
	background: rgba(0,0,0,0.06);
	margin: 0;
}
.cropped{margin: auto;max-width: 800px;}
.left{float:left;}
.right{float: right;}

.button_raised, .button_light{
	display: inline-block;
	min-width: 88px;
	margin: 4px;
	padding: 8px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
}
.button_light:hover{background: rgba(153,153,153,0.2);}
.button_light:active{background: rgba(153,153,153,0.4);}
.button_raised{
	background: #40C4FF;
	border-radius: 2px;
	color: #FFF;
	box-shadow: 0 2px 5px hsla(0,0%,0%,.26);
}
.button_raised:active{
	background: rgba(0,176,255,1);
	box-shadow: 0 5px 10px hsla(0,0%,0%,.3);
}
.button_icon{
	cursor: pointer;
	height: 40px;
}
.button_icon img{
	width: inherit;
	height: inherit;
}

.link{cursor: pointer;}
.link:hover{
	text-shadow: 0 2px 5px hsla(0,0%,0%,.26);
}


/* Header And Footer */
header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 64px;
	text-align: center;
	background: #FFEB3B;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
header h1{
	display: inline;
	margin: 10px;
	font-size: 32px;
	font-weight: normal;
	line-height: 64px;
}

#logzone{
	position: absolute;
	top: 12px;
	right: 12px;
	height: 40px;
}

.menubutton{
	position: absolute;
	top: 12px;
	left: 16px;
}

#menu{
	position: fixed;
	top: 0;
	left: -205px;
	bottom: 0;
	width: 200px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
#menu ul{
	position: absolute;
	top: 80px;
	left: 16px;
	list-style-type: none;
	padding-left: 56px;
}
#menu ul li {
	line-height: 48px;
}



/* Content*/
#content{
	margin-top: 80px;
	background: #FFF;
	padding: 5px 20px;
	font-size: 15px;
	font-weight: normal;	
	box-shadow: 0 0 5px 0 hsla(0,0%,0%,.15);
}
#content h1{
	font-size: 45px;
	font-weight: normal;
	margin: 20px 0;
}